@model KuaforYonetim.ViewModels.CalisanEkleViewModel

<h2>Yeni Çalışan Ekle</h2>

<form asp-action="CalisanEkle" method="post">
    <div class="form-group">
        <label asp-for="AdSoyad"></label>
        <input asp-for="AdSoyad" class="form-control" />
    </div>
    <div class="form-group">
        <label>Uzmanlık Alanları</label>
        <select asp-for="SelectedHizmetler" asp-items="@(new SelectList(Model.Hizmetler, "HizmetId", "Ad"))" class="form-control" multiple></select>
    </div>
    <button type="submit" class="btn btn-success">Çalışan Ekle</button>
</form>