@model KuaforYonetim.Models.Calisan

<h2>Yeni Çalışan Ekle</h2>

<form asp-action="CalisanEkle" method="post">
    <div class="form-group">
        <label asp-for="AdSoyad"></label>
        <input asp-for="AdSoyad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UzmanlikAlanlari"></label>
        <input asp-for="UzmanlikAlanlari" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Çalışan Ekle</button>
</form>